<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.spring.mvc.score.ScoreMapper">

    <!-- 메서드 하나씩 구현-->
    <!-- id에는 메서드 이름 -->
    <insert id = "save">
        INSERT INTO score
        VALUES (seq_score.nextval, #{name}, #{kor},#{eng},#{math},#{total},#{average},#{grade})
    </insert>

    <delete id= "remove">
        DELETE FROM score
        WHERE stu_num = #{stuNum}
    </delete>

    <!-- # SELECT 문 처리를 위한 자바 필드명과 테이블 컬럼명 매핑
     - 자바의 이름관례와 SQL의 관례의 차이에서 오는 표기법의 불일치를 해소하기 위해 1:1 데이터 매핑을 해주는 작업 -->
    <resultMap id="scoreMap" type="com.spring.mvc.score.Score">
        <!-- property에서는 자바필드 , colum에는 데이터베이스컬럼명 입력-->
        <result property="name" column="stu_name" />
        <result property="stuNum" column="stu_num"/>
    </resultMap>

    <select id = "findAll" resultMap="scoreMap">
        SELECT *FROM score
    </select>

    <select id = "findOne" resultMap="scoreMap">
        SELECT *FROM score
        WHERE stu_num = #{stuNum}

    </select>


</mapper>